<section>
    <p-tabView id="container">
        <p-tabPanel header="Edificos">

            <app-edificio-tab></app-edificio-tab>

        </p-tabPanel>
        <p-tabPanel header="Compartimentos">

            <app-compartimento></app-compartimento>

        </p-tabPanel>
        <p-tabPanel header="Quadros">

            <app-quadro></app-quadro>

        </p-tabPanel>
        <p-tabPanel header="Itens">

            <app-item></app-item>
            
        </p-tabPanel>
    </p-tabView>
</section>