// $primary-color: #008D89;
$primary-button: #0C3435;
$secondary-button: #195858;
$add-button: #42C0CF;
$hover-button: #38A5A1;
$white-color: #ffffff;
$black-color: black;
$red-color: red;
$input-backgroud: #B7DADA; 
$text-color: #2C8E8B;
// $container-background: #E1F5F5;
$basic-gray: #F2F2F2;
$login-span: #828282;
$default: #E6E6E6;

$primary-color: #112037;
$spark-color: #FFE666;
$container-background: #303C50;
$line-color: #182B47;
$dialog-color: #17263F;


