@import "../../../../variables/variables.scss";

section{
    width: 90%;
    height: 85vh;
    border-radius: 12px 12px 0 0;
    padding-top: 40px;
    background-color: $container-background;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-image: url("../../../../assets/background.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
}

//BARRA DE PESQUISA E BOTÃO DE ADICIONAR
.searchBarAndButton{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBarAndButton .innerDiv{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBarAndButton .innerDiv span{
    width: 300px;

}
.searchBarAndButton .innerDiv span i{
    position: absolute;
    top: 45%;
    margin-top: -0.5rem;
    color: $spark-color;
}

.searchBarAndButton .innerDiv span input{
    width: 100%;
    background-color:$line-color;
    color: $spark-color;
    border-radius: 12px;

    &::placeholder{
        font-size: 14px;
        color: $spark-color;
    }
}

#addButton{
    width: auto;
    background-color: $line-color;
    color: $spark-color;
    font-size: 14px;
    border-radius: 12px;
}

//TABELA

.tableContainer{
    width: 90%;
    height: 90%;
    padding-top: 20px;
}

.tableContainer .tableSeparator{
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 12px;
}

// .tableContainer .tableSeparator .firstTittle{
//     font-size: 14px;
//     text-align: left;
//     padding: 10px;
//     font-weight: bold;
//     color: $white-color;
// }

.tableContainer .tableSeparator .tittle{
    font-size: 14px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: $white-color;
}

.tableContainer .tableSeparator .line{
    font-size: 14px;
    background-color: rgba(24, 43, 71, 0.5);
    border-radius: 12px;
    cursor: pointer;
    color: $white-color;
}

.tableContainer .tableSeparator .line{
    transition: transform 0.2s ease;
}

.tableContainer .tableSeparator .line:hover{
    transform: translateY(-5px);
    background-color: rgb(57 71 92);
}
  
.tableContainer .tableSeparator .line td{
    width: 180px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 12px 10px;
}


.tableContainer .tableSeparator .line .name{
    width: 20%;
    border-radius: 12px 0 0 12px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}

.tableContainer .tableSeparator .line .email{
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContainer .tableSeparator .line .email div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tableContainer .tableSeparator .line .valores{
    width: 35%;
    background-color: transparent;
}

.tableContainer .tableSeparator .line .eye{
    height: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    border-radius: 0 12px 12px 0;
    background-color: transparent;
}

.tableContainer .tableSeparator .line .eye i{
    width: 20px;
    color: $spark-color ;
}

.messageDiv{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white-color;
    
    h1{
        padding: 10px 0;
    }

    i{
        padding: 10px 0;
        font-size: 30px;
        -moz-animation:spin 4s linear infinite;
        -webkit-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

//MODAL DE CRIAÇÃO

:host ::ng-deep .p-dialog .p-dialog-content {
    background: $dialog-color;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 1.5rem 1.5rem 1.5rem;
}

:host ::ng-deep .p-dialog-draggable .p-dialog-header {
    background: $dialog-color;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 500;
    font-size: 1.25rem;
    color: $white-color;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    margin-right: 0;
    color: white;
}

.modal_header{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;

    .modal_icon{
        width: 25px;
        height: 25px;
        margin: 0;
        position: relative;
        top: 0px;
    }

    h3{
        width: auto;
        margin-left: 10px;
    }
}

#dialog{
    ::ng-deep{
        .p-dialog{
            width: 50vw;
            height: 75vh;
        }
    }

}

.modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.modal .choiceDiv{
    width: 100%;
    color: $white-color;
    font-size: 14px;
}

.modal .registerForm{
    width: 100%;
    height: 90%;
    margin-top: 10px;
    gap: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .divUm{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .nome_razao_social{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 5px;
            border: 1px solid $spark-color;
    
            .nome_razao_social_input{
                width: 100%;
                height: 100%;
                border: none;
                outline: 0;
                padding-left: 10px;  
                background-color: $dialog-color;
                color: $white-color;   
                font-size: 14px;
            }
    
            label{
                color: $white-color;
                background-color: $dialog-color;
                border-radius: 4px;
                font-size: 12px;
            }
        }

        .email{
            width: 46%;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 5px;
            border: 1px solid $spark-color;
    
            .email_input{
                width: 100%;
                height: 100%;
                border: none;
                outline: 0;
                padding-left: 10px;  
                background-color: $dialog-color;
                color: $white-color;  
                font-size: 14px;    
            }

            label{
                color: $white-color;
                background-color: $dialog-color;
                border-radius: 4px;
                font-size: 12px;

            }
        }

        .celular{
            width: 25%;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 5px;
    
            #celular_input{
                width: 100%;
                height: 100%;
                border: none;
                outline: 0;
                border-radius: 4px;
                background-color: $dialog-color;
                color: $white-color; 

                ::ng-deep{
                    .p-element{
                        width: 100%;
                        height: 100%;
                        border: 1px solid $spark-color;
                        background-color: transparent;
                        font-size: 14px;
                    }
                }
            }

            label{
                color: $white-color;
                background-color: $dialog-color;
                border-radius: 4px;
                font-size: 12px;
            }
        }

        .cnpj{
            width: 25%;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 5px;
    
            #cnpj_input{
                width: 100%;
                height: 100%;
                border: none;
                outline: 0;
                border-radius: 4px;
                background-color: $dialog-color;
                color: $white-color;   
                
                ::ng-deep{
                    .p-element{
                        width: 100%;
                        height: 100%;
                        border: 1px solid $spark-color;
                        background-color: transparent;
                        font-size: 14px;
                    }
                }
            }

            label{
                color: $white-color;
                background-color: $dialog-color;
                border-radius: 4px;
                font-size: 12px;

            }
        }

        .specialAlign{
            width: 100%;
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .imagens{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 4px;
                border: 1px solid $spark-color;
                color: $white-color;
                background-color: $dialog-color;
                
    
                .addSide{
                    width: 15%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
    
                    .addImages{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100px;
                        border: none;
                        cursor: pointer;
                        background-color: $spark-color;
                        color: $primary-color;
                        margin: 0 5px;
                    }
        
                    .documentsLabel{
                        background-color: $dialog-color;
                        border-radius: 4px;
                        position: absolute;
                        top: -13px;
                        left: 10px;
                        padding: 5px;
                        font-size: 12px;
                    }
    
                    input{
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: 0;
                        cursor: pointer;
                        display: none;
                    }
        
                    img{
                        width: 300px;
                        height: 150px;
                    }
                }
    
                .previewSide{
                    width: 80%;
                    height: 100%;

                    .warningDiv{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h2{
                            font-size: 14px;;
                        }

                    }
    
                    .carousel{
                        width: 94%;
                        height: 100%;
    
                        .slide{
                            height: 139px;
                        }
                     
                        .innerDivUm{
                            width: 130px;
                            height: 80%;
                            cursor: pointer;
                            margin: 0 auto;
                        }
    
                        .innerDivDois{
                            width: 180px;
                            height: 85%;
                            cursor: pointer;
                            margin: 0 auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
    
                            .closeButton{
                                position: relative;
                                z-index: 10000000;
                                top: 13%;
                                left: 32%;
                                
                            }
        
                            #closeButton{
                                width: 20px;
                                height: 20px;
                                background-color: $red-color;
                                border-radius: 100px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
        
                            .material-icons{
                                font-size: 50px;
                                position: relative;
                                top: -20px;
                            }
                            
                            i{
                                font-size: 30px;
                                color: $white-color
                            }
            
                            h2{
                                color: $white-color;
                                text-align: center;
                            }
                        }
    
                        .closeButton{
                            width: 20px;
                            height: 20px;
                            position: relative;
                            z-index: 10000000;
                            top: 18%;
                            left: 77%;
                            background-color: $red-color;
                            color: $white-color;
                            border-radius: 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            cursor: pointer;
                        }
    
                        
                    }
                }
            }
        }
    }

    button{
        width: 100%;
        height: 40px;
        font-size: 15px;
        border-radius: 4px;
        border: none;
        outline: 0;
        cursor: pointer;
        background-color: $spark-color;
        color: $primary-color;
    }
}

.confirmModal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirmModal .warningDiv{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    i{
        color: $spark-color;
        font-size: 50px;
    }

    h2{
        font-size: 14px;
        color: $white-color
    }
}

.confirmModal .warningButtonDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #cancelButton{
        ::ng-deep{
            .p-button{
                background-color: transparent;
                border: 1px solid $white-color;
                color: $white-color;
            }
        }
    }

    #confirmationButton{
        ::ng-deep{
            .p-button{
                background-color: $spark-color;
                color: $primary-color;
            }
        }
    }
}

:host ::ng-deep{
    img{
        width: 100%;
        height: 80%;
        cursor: pointer;
        margin: 0 auto;
        position: relative;
        top: -8px
    }
}

:host ::ng-deep{
    .p-inputtext {
        background-color: $line-color;
        border: none;
        color: $white-color;

        &::placeholder{
            color: $white-color;
        }
    }

}

.detailModal{
    width: 100%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
    }
}

@media(width <= 1600px){
    .modal > .registerForm > .specialAlign{
        height: 140px;
    }
}
